body {
  font-family: 'Tajawal', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Tajawal', sans-serif;
}

h1 {
  font-weight: 300
}

.container-1 {
  background-color: white;
  justify-content: center;
  z-index: 5;
}

@media screen and (min-width: 750px) {

  header {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
}


header {
  position: relative;

  background-image: url("../img/mountain.jpg");
  color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding-top: 9rem;
  padding-bottom: 9rem;
  background-color: #343a40;
  text-align: center;

}



header .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 45px;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 60px;
  }
}

.showcase  {
  background-color: white;
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.features-icons {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}


.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.bg {
  width: 100%;
}

.blue {
  background-color: #4555e0;
}

.top-cta {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.white-font {
  color: white;
}

.text-center {
  text-align: center;
}

video {
  min-width: 100%;
  min-height: 100%;
}


@media screen and (max-width: 1100px) {

  video {
    display: none;
  }
}


.vertical-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-email {
  color: white;
  text-decoration: underline;
}

.contact-email:hover {
  color: gray;
}
